// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.well {
  margin-bottom: 2rem;
}

.categories {
  margin-bottom: 2rem;
}

.form-style {
  margin-bottom: 2rem;
}