<section class="about-index">
  <%# <header class="page-header">
      <h1>About Us</h1>
  </header> %>

  <div class="bg-white">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About Us</h1>
          <p class="lead text-muted mb-0">Welcome to <strong>The Jungle</strong> - Where Nature Meets Home!</p>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Our Story</h2>
          <p class="font-italic text-muted mb-4">At <strong>The Jungle</strong>, we believe in bringing the beauty of nature into your home. Our journey began with a simple yet profound idea: to create an online space where plant lovers could find not just plants, but a community that shares a passion for green living.</p><%= link_to 'Learn more', root_path, class: "btn btn-primary" %>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Easy Ordering, Free Shipping</h2>
          <p class="font-italic text-muted mb-4">Ordering from <strong>The Jungle</strong> is a breeze! Enjoy the convenience of quick and easy online shopping. Plus, we offer free shipping on all orders over $50, making it affordable to elevate your home with the beauty of nature.</p><%= link_to 'Learn more', root_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-3.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Our Invitation to You</h2>
          <p class="font-italic text-muted mb-4">Join us on this green journey and discover the joy of creating a flourishing oasis within your living spaces. <strong>The Jungle</strong> is more than a store; it's a celebration of life, growth, and the profound connection between people and plants.</p><%= link_to 'Learn more', root_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-12">
          <p class="font-italic text-muted">So, what are you waiting for? Dive into our online plant shop and let the transformation begin!</p>
        </div>
      </div>
    </div>
  </div>

</section>
